body {
  background-color: #F8F8FA;
  font-family: "Noto Sans S Chinese";
}
.container {
  max-width: 73.75rem;
  padding-left: 30;
  padding-right: 1.875rem;
}
.header {
  padding-top: 0; 
  padding-bottom: 0;
}
.me-auto.navbar-nav {
    width: 80%;
    margin-left: 10%;
} 
.navbar-toggler {
  border: 0rem;
  margin-right: 4.375rem;
}
.navbar-toggler.collapsed {
  margin-right: 4.375rem;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.ant-select.ant-select-single.ant-select-show-arrow {
  width: 4.375rem;
  position: absolute;
  float: right;
  right: 1.25rem;
  top: .3125rem;
  background-color: rgb(248,249,250);
}
@media (min-width: 62rem) {
  .ant-select.ant-select-single.ant-select-show-arrow {
    right: 5.625rem;
  }
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border: 0rem;
  background-color: rgb(248, 249, 250);
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-width: 0rem;
  box-shadow: 0 0 0 0;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}
.nav-link {
  flex: 1;
  text-align: center;
  border-bottom: .3125rem solid rgb(248,249,250);
}
.nav-link:hover {
  border-bottom: .3125rem solid #F4A019;
}
.nav-link.active {
  border-bottom: .3125rem solid #F4A019;
}
.btn {
  line-height: 1;
}
.btn-primary {
  color: #fff;
  background-color: #F4A019;
  border: .125rem solid #F4A019;
  border-radius: 0;
  box-shadow: 0rem .3125rem 1.25rem #ccc;
  width: 100%;
  font-size: 1.125rem;
}
.btn-primary:hover {
  border: .125rem solid #222;
  background-color: #F4A019;
}
.section01, .section03, .section05, .section7{
  background-color: white;
}
.section01-left .jumbotron {
  /* 需要媒体查询 */
  margin-top: 5rem; 
}
.section01-left-title {
  font-family: "Noto Sans S Chinese";
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3.75rem;
}
.section01-left-subtitle {
  /* font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 16px; */
  font-family: "Noto Sans S Chinese";
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 2.0625rem;
}
.section01-left-description {
  font-family: "Noto Sans S Chinese";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.875rem;
}
.section01-bottom {
  text-align: justify;
  font-size: 80px;
}
.section01-bottom:after{
  content: ""; width:100%; display:inline-block;
}
.slider {
  margin-top: -5.625rem;
  background-color: white;
  box-shadow: .625rem .625rem 1.25rem #eee;
}
.slider-title {
  padding: 32px;
  text-align: center;
  font-family: Noto Sans S Chinese;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3.75rem;
  color: #2D3843;
}
.card01 {
  text-align: center;
  padding: 0rem 32px;
}
.card-title {
  padding: 16px;
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  /* identical to box height */
  color: #333333;
}
.card-description {
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.875rem;
  /* or 187% */

  text-align: center;

  color: rgba(51, 51, 51, 0.501557);

}
.section02-row02 {
  margin-top: 5rem;
}
.card02 {
  text-align: center;
  padding: 0rem 64px;
  background-color: white;
  box-shadow: .625rem .625rem 1.25rem #eee;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
.card02-icon {
  height: 4.375rem;
  margin-bottom: .625rem;
}
.card02-title{
  text-align: center;
  font-family: Noto Sans S Chinese;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;

  color: #000000;
}
.card02-description {
  text-align: center;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #6F6F6F;
}
.section02-btn {
  background-color: rgba(246, 241, 237, 1);
  border-color: rgba(246, 241, 237, 1);
  color: black;
  box-shadow: 0 0 0 0;
}
.section03 {
  margin-top: 1.25rem;
}
.section03-left {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 4.375rem;
  color: #000000;
  padding: 128px 0;

}
.banner2_bk {
  position: absolute;
  right: 50%;
  z-index: -1;
}
.section03-left-btn {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #000000;
  background: rgba(246, 241, 237, 1);
  border-color: rgba(246, 241, 237, 1);
  box-shadow: 0 0 0 0;
}
.section04-left {
  padding: 80px 0;
}
.section04-left-title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.875rem;
  color: #000000;
}
.section04-left-description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.875rem;
  text-align: justify;
  color: #000000;
  padding: 32px 0;
}


.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
    border-color: transparent;
    box-shadow:none;
}









